

### March Madness Exploratory Data Analysis
#### Author: Adam Ruther

In [1]:
import pandas as pd
import numpy as np

In [2]:
base_results_df = pd.read_csv('../data/MDataFiles_Stage1/MRegularSeasonDetailedResults.csv')
teams_df = pd.read_csv('../data/MDataFiles_Stage1/MTeams.csv')

In [3]:
add_home_team_df = base_results_df.merge(teams_df,how = 'left',left_on='WTeamID',right_on='TeamID')
add_away_team_df = add_home_team_df.merge(teams_df,how = 'left',left_on='LTeamID',right_on='TeamID')

In [4]:
add_away_team_df

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LBlk,LPF,TeamID_x,TeamName_x,FirstD1Season_x,LastD1Season_x,TeamID_y,TeamName_y,FirstD1Season_y,LastD1Season_y
0,2003,10,1104,68,1328,62,N,0,27,58,...,2,20,1104,Alabama,1985,2022,1328,Oklahoma,1985,2022
1,2003,10,1272,70,1393,63,N,0,26,62,...,6,16,1272,Memphis,1985,2022,1393,Syracuse,1985,2022
2,2003,11,1266,73,1437,61,N,0,24,58,...,5,23,1266,Marquette,1985,2022,1437,Villanova,1985,2022
3,2003,11,1296,56,1457,50,N,0,18,38,...,3,23,1296,N Illinois,1985,2022,1457,Winthrop,1987,2022
4,2003,11,1400,77,1208,71,N,0,30,61,...,1,14,1400,Texas,1985,2022,1208,Georgia,1985,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100418,2022,98,1400,79,1242,76,H,0,28,67,...,5,21,1400,Texas,1985,2022,1242,Kansas,1985,2022
100419,2022,98,1411,66,1126,63,A,0,24,59,...,2,23,1411,TX Southern,1985,2022,1126,Bethune-Cookman,1985,2022
100420,2022,98,1422,68,1441,49,A,0,23,56,...,2,12,1422,UNC Greensboro,1992,2022,1441,W Carolina,1985,2022
100421,2022,98,1438,69,1181,68,A,0,31,65,...,9,11,1438,Virginia,1985,2022,1181,Duke,1985,2022
100422,2022,98,1439,74,1338,47,H,0,29,55,...,6,14,1439,Virginia Tech,1985,2022,1338,Pittsburgh,1985,2022

In [5]:
add_away_team_df.columns

Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
       'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF',
       'TeamID_x', 'TeamName_x', 'FirstD1Season_x', 'LastD1Season_x',
       'TeamID_y', 'TeamName_y', 'FirstD1Season_y', 'LastD1Season_y'],
      dtype='object')

In [6]:
limit_column_names_df = add_away_team_df[['Season','DayNum','WTeamID','TeamName_x','WLoc','WScore','LTeamID','TeamName_y','LScore','NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3','LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF']]
limit_column_names_df.columns = ['Season','DayNum','WTeamID','WTeamName','WLoc','WScore','LTeamID','LTeamName','LScore','NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3','LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF']
clean_results_df = limit_column_names_df

In [7]:
results_by_team_win_df = clean_results_df.copy()
results_by_team_win_df.columns = ['Season','DayNum','TeamID','TeamName','Loc','Score','OppTeamID','OppTeamName','OppScore','NumOT', 'FGM', 'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA', 'OR', 'DR',
       'Ast', 'TO', 'Stl', 'Blk', 'PF', 'OppFGM', 'OppFGA', 'OppFGM3', 'OppFGA3','OppFTM', 'OppFTA', 'OppOR', 'OppDR', 'OppAst', 'OppTO', 'OppStl', 'OppBlk', 'OppPF']
results_by_team_win_df['Result'] = 'W'

In [8]:
def new_loc(row):
    new_loc = ''
    if row['Loc'] == 'H':
        new_loc = 'A'
    elif row['Loc'] == 'A':
        new_loc = 'H'
    else :
        new_loc = 'N'
    return new_loc

In [9]:
results_by_team_loss_df = clean_results_df.copy()
results_by_team_loss_df = results_by_team_loss_df[['Season','DayNum','LTeamID','LTeamName','WLoc','LScore','WTeamID','WTeamName','WScore','NumOT', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3','LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF' ,'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF']]

In [10]:
results_by_team_loss_df = clean_results_df.copy()
results_by_team_loss_df = results_by_team_loss_df[['Season','DayNum','LTeamID','LTeamName','WLoc','LScore','WTeamID','WTeamName','WScore','NumOT', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3','LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF' ,'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF']]
results_by_team_loss_df.columns = ['Season','DayNum','TeamID','TeamName','Loc','Score','OppTeamID','OppTeamName','OppScore','NumOT', 'FGM', 'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA', 'OR', 'DR',
       'Ast', 'TO', 'Stl', 'Blk', 'PF', 'OppFGM', 'OppFGA', 'OppFGM3', 'OppFGA3','OppFTM', 'OppFTA', 'OppOR', 'OppDR', 'OppAst', 'OppTO', 'OppStl', 'OppBlk', 'OppPF']
results_by_team_loss_df['Result'] = 'L'
results_by_team_loss_df['Loc'] = results_by_team_loss_df.apply(new_loc, axis=1)

In [11]:
results_by_team_df = pd.concat([results_by_team_win_df,results_by_team_loss_df])

In [26]:
results_by_team_df.columns

Index(['Season', 'DayNum', 'TeamID', 'TeamName', 'Loc', 'Score', 'OppTeamID',
       'OppTeamName', 'OppScore', 'NumOT', 'FGM', 'FGA', 'FGM3', 'FGA3', 'FTM',
       'FTA', 'OR', 'DR', 'Ast', 'TO', 'Stl', 'Blk', 'PF', 'OppFGM', 'OppFGA',
       'OppFGM3', 'OppFGA3', 'OppFTM', 'OppFTA', 'OppOR', 'OppDR', 'OppAst',
       'OppTO', 'OppStl', 'OppBlk', 'OppPF', 'Result'],
      dtype='object')

In [35]:
results_by_team_df['FGPerc'] = results_by_team_df['FGM'] / results_by_team_df['FGA']
results_by_team_df['3PtFGPerc'] = results_by_team_df['FGM3'] / results_by_team_df['FGA3']
results_by_team_df['OppFGPerc'] = results_by_team_df['OppFGM'] / results_by_team_df['OppFGA']
results_by_team_df['Opp3PtFGPerc'] = results_by_team_df['OppFGM3'] / results_by_team_df['OppFGA3']
results_by_team_df['AsstTORatio'] = results_by_team_df['Ast'] / results_by_team_df['TO']
results_by_team_df['OppAsstTORatio'] = results_by_team_df['OppAst'] / results_by_team_df['OppTO']
results_by_team_df['RebRatio'] = (results_by_team_df['OR'] + results_by_team_df['DR']) / (results_by_team_df['OppOR'] + results_by_team_df['OppDR'])
results_by_team_df['ScoreDiff'] = results_by_team_df['Score'] - results_by_team_df['OppScore']

In [39]:
results_by_team_df.groupby(['Season','TeamName']).agg(
    mean_Points=('Score', np.mean),
    std_Points=('Score', np.std),
    median_Points=('Score', np.median),
    mean_FGM=('FGM',np.mean),
    std_FGM=('FGM',np.std),
    median_FGM=('FGM', np.median),
    mean_FGPerc=('FGPerc',np.mean),
    std_FGPerc=('FGPerc',np.std),
    median_FGPerc=('FGPerc',np.median),
    mean_3PtFGPerc=('3PtFGPerc',np.mean),
    std_3PtFGPerc=('3PtFGPerc',np.std),
    median_3PtFGPerc=('3PtFGPerc',np.median),
    mean_OppFGPerc=('OppFGPerc',np.mean),
    std_OppFGPerc=('OppFGPerc',np.std),
    median_OppFGPerc=('OppFGPerc',np.median),        
    mean_Opp3PtFGPerc=('Opp3PtFGPerc',np.mean),
    std_Opp3PtFGPerc=('Opp3PtFGPerc',np.std),
    median_Opp3PtFGPerc=('Opp3PtFGPerc',np.median),
    mean_AsstToRatio=('AsstTORatio',np.mean),
    std_AsstToRatio=('AsstTORatio',np.std),
    median_AsstToRatio=('AsstTORatio',np.median),
    mean_OppAsstToRatio=('AsstTORatio',np.mean),
    std_OppAsstToRatio=('AsstTORatio',np.std),
    median_OppAsstToRatio=('AsstTORatio',np.median),         
    )

                      mean_Points  std_Points  median_Points   mean_FGM  \
Season TeamName
2003   Air Force        57.250000   13.892777           56.5  19.142857
       Akron            78.777778   15.272734           79.0  27.148148
       Alabama          69.285714   11.375273           69.0  24.035714
       Alabama A&M      71.769231   13.051614           71.5  24.384615
       Alabama St       63.607143   11.402856           60.5  23.428571
...                           ...         ...            ...        ...
2022   Wright St        75.478261   11.892968           75.0  27.652174
       Wyoming          74.619048    8.873986           77.0  25.714286
       Xavier           73.181818   10.639712           72.0  25.636364
       Yale             72.100000   13.281962           71.5  25.200000
       Youngstown St    70.681818   11.961790           68.5  24.954545

                       std_FGM  median_FGM  mean_FGPerc  std_FGPerc  \
Season TeamName
2003   Air Force      4.402981        19.0     0.486149    0.112837
       Akron          5.074095        28.0     0.487294    0.076162
       Alabama        4.977595        24.0     0.419676    0.074775
       Alabama A&M    4.725056        25.0     0.396204    0.065716
       Alabama St     4.434115        22.5     0.425530    0.074822
...                        ...         ...          ...         ...
2022   Wright St      5.166401        27.0     0.475643    0.086746
       Wyoming        3.273268        25.0     0.478369    0.061236
       Xavier         3.606152        25.5     0.445620    0.056643
       Yale           4.595192        24.5     0.431106    0.072722
       Youngstown St  4.893896        24.5     0.439559    0.078990

                      median_FGPerc  mean_3PtFGPerc  ...  median_OppFGPerc  \
Season TeamName                                      ...
2003   Air Force           0.488636        0.367637  ...          0.463333
       Akron               0.492308        0.331990  ...          0.500000
       Alabama             0.412404        0.325442  ...          0.415881
       Alabama A&M         0.409463        0.359630  ...          0.430857
       Alabama St          0.414971        0.350196  ...          0.424777
...                             ...             ...  ...               ...
2022   Wright St           0.472727        0.330424  ...          0.459016
       Wyoming             0.466667        0.335381  ...          0.406250
       Xavier              0.432051        0.330916  ...          0.409903
       Yale                0.434135        0.333194  ...          0.418630
       Youngstown St       0.434087        0.338869  ...          0.431545

                      mean_Opp3PtFGPerc  std_Opp3PtFGPerc  \
Season TeamName
2003   Air Force               0.379754          0.145588
       Akron                   0.369966          0.107772
       Alabama                 0.330969          0.116058
       Alabama A&M             0.355629          0.140608
       Alabama St              0.298856          0.139136
...                                 ...               ...
2022   Wright St               0.323820          0.077477
       Wyoming                 0.275090          0.072700
       Xavier                  0.313046          0.089475
       Yale                    0.306156          0.087332
       Youngstown St           0.345374          0.111322

                      median_Opp3PtFGPerc  mean_AsstToRatio  std_AsstToRatio  \
Season TeamName
2003   Air Force                 0.380952          1.375064         0.953202
       Akron                     0.380952          1.324485         0.577167
       Alabama                   0.324561          0.992390         0.451834
       Alabama A&M               0.368421          0.861957         0.426545
       Alabama St                0.313725          0.723189         0.308956
...                                   ...               ...              ...
2022   Wright St                 0.307692          1.171680         0.577981
       Wyoming                   0.250000          1.190845         0.634880
       Xavier                    0.325758          1.387381         0.540779
       Yale                      0.307995          1.035686         0.552227
       Youngstown St             0.333333          1.175020         0.566269

                      median_AsstToRatio  mean_OppAsstToRatio  \
Season TeamName
2003   Air Force                1.107955             1.375064
       Akron                    1.133333             1.324485
       Alabama                  0.923077             0.992390
       Alabama A&M              0.798128             0.861957
       Alabama St               0.700000             0.723189
...                                  ...                  ...
2022   Wright St                1.000000             1.171680
       Wyoming                  1.000000             1.190845
       Xavier                   1.457516             1.387381
       Yale                     1.035256             1.035686
       Youngstown St            1.100000             1.175020

                      std_OppAsstToRatio  median_OppAsstToRatio
Season TeamName
2003   Air Force                0.953202               1.107955
       Akron                    0.577167               1.133333
       Alabama                  0.451834               0.923077
       Alabama A&M              0.426545               0.798128
       Alabama St               0.308956               0.700000
...                                  ...                    ...
2022   Wright St                0.577981               1.000000
       Wyoming                  0.634880               1.000000
       Xavier                   0.540779               1.457516
       Yale                     0.552227               1.035256
       Youngstown St            0.566269               1.100000

[6892 rows x 24 columns]

In [12]:
results_by_team_df[(results_by_team_df['TeamName'] == 'Cincinnati')]

,Season,DayNum,TeamID,TeamName,Loc,Score,OppTeamID,OppTeamName,OppScore,NumOT,...,OppFTM,OppFTA,OppOR,OppDR,OppAst,OppTO,OppStl,OppBlk,OppPF,Result
117,2003,19,1153,Cincinnati,H,54,1399,Tennessee Tech,48,0,...,7,14,11,32,13,17,1,4,21,W
255,2003,22,1153,Cincinnati,H,80,1197,Florida A&M,53,0,...,16,29,12,23,5,20,7,2,23,W
488,2003,28,1153,Cincinnati,H,76,1434,Valparaiso,50,0,...,11,20,11,23,8,20,4,0,18,W
867,2003,40,1153,Cincinnati,H,65,1247,La Salle,62,0,...,20,25,12,21,6,15,5,3,23,W
980,2003,43,1153,Cincinnati,N,77,1332,Oregon,52,0,...,7,12,9,22,15,17,7,1,17,W
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98223,2022,40,1153,Cincinnati,A,63,1462,Xavier,83,0,...,28,35,13,26,16,9,6,2,18,L
98697,2022,61,1153,Cincinnati,H,60,1408,Tulane,68,0,...,16,23,5,27,11,8,4,0,19,L
98976,2022,69,1153,Cincinnati,A,80,1272,Memphis,87,0,...,16,19,14,23,16,10,5,5,15,L
99726,2022,85,1153,Cincinnati,A,58,1396,Temple,61,0,...,20,32,13,34,8,15,5,7,18,L
100376,2022,97,1153,Cincinnati,H,58,1222,Houston,80,0,...,8,11,8,30,15,10,6,3,20,L

In [13]:
results_by_team_df[((results_by_team_df['Season'] == 2011) & (results_by_team_df['TeamName'] == 'Cincinnati'))].sort_values(by = 'DayNum',ascending = True)

,Season,DayNum,TeamID,TeamName,Loc,Score,OppTeamID,OppTeamName,OppScore,NumOT,...,OppFTM,OppFTA,OppOR,OppDR,OppAst,OppTO,OppStl,OppBlk,OppPF,Result
39523,2011,14,1153,Cincinnati,H,69,1291,Mt St Mary's,59,0,...,12,18,10,23,11,20,7,2,19,W
39757,2011,19,1153,Cincinnati,H,65,1236,PFW,59,0,...,8,9,7,17,13,16,12,2,23,W
39871,2011,21,1153,Cincinnati,H,76,1197,Florida A&M,51,0,...,9,16,8,19,6,11,7,5,16,W
39985,2011,23,1153,Cincinnati,H,54,1366,Savannah St,41,0,...,4,6,5,23,9,18,5,1,17,W
40097,2011,26,1153,Cincinnati,N,68,1173,Dayton,34,0,...,8,13,16,24,6,16,4,1,23,W
40280,2011,30,1153,Cincinnati,H,77,1460,Wright St,69,0,...,9,12,9,19,8,15,3,1,18,W
40396,2011,33,1153,Cincinnati,A,81,1405,Toledo,47,0,...,15,26,13,23,12,18,3,0,11,W
40656,2011,40,1153,Cincinnati,H,92,1430,Utah Valley,72,0,...,11,12,8,24,9,18,3,4,18,W
40790,2011,43,1153,Cincinnati,H,99,1204,Ga Southern,54,0,...,7,13,9,19,14,15,6,4,24,W
40862,2011,47,1153,Cincinnati,N,66,1328,Oklahoma,56,0,...,16,22,10,23,9,13,6,1,20,W
41010,2011,50,1153,Cincinnati,A,64,1275,Miami OH,48,0,...,10,13,5,22,9,14,3,3,19,W
41145,2011,52,1153,Cincinnati,H,94,1384,St Francis PA,58,0,...,12,13,9,17,13,22,7,3,17,W
41205,2011,57,1153,Cincinnati,H,76,1177,DePaul,60,0,...,5,12,21,19,15,17,4,1,22,W
41359,2011,60,1153,Cincinnati,H,70,1371,Seton Hall,53,0,...,18,25,6,20,9,14,9,0,19,W
41591,2011,66,1153,Cincinnati,H,66,1462,Xavier,46,0,...,9,15,11,18,4,15,5,4,15,W
41808,2011,69,1153,Cincinnati,A,61,1437,Villanova,72,0,...,28,33,6,29,14,19,4,8,23,L
41853,2011,72,1153,Cincinnati,H,74,1378,South Florida,66,0,...,21,24,8,24,8,18,5,3,24,W
42078,2011,75,1153,Cincinnati,A,52,1393,Syracuse,67,0,...,7,13,10,31,16,13,5,10,12,L
42207,2011,79,1153,Cincinnati,A,58,1323,Notre Dame,66,0,...,19,24,6,26,16,10,4,3,14,L
42318,2011,82,1153,Cincinnati,A,53,1385,St John's,51,0,...,12,26,7,18,10,9,8,2,14,W
42514,2011,86,1153,Cincinnati,H,72,1353,Rutgers,56,0,...,9,14,5,19,9,13,6,1,23,W
42772,2011,89,1153,Cincinnati,H,55,1452,West Virginia,66,0,...,24,30,15,27,13,14,3,4,15,L
43059,2011,96,1153,Cincinnati,A,59,1338,Pittsburgh,71,0,...,20,32,14,24,15,18,8,5,20,L
43152,2011,99,1153,Cincinnati,A,71,1177,DePaul,68,0,...,8,16,13,14,19,11,8,2,22,W
43447,2011,104,1153,Cincinnati,H,57,1385,St John's,59,0,...,9,12,8,20,13,15,7,0,15,L
43514,2011,107,1153,Cincinnati,H,63,1257,Louisville,54,0,...,4,7,6,22,11,14,6,6,20,W
43635,2011,110,1153,Cincinnati,A,93,1344,Providence,81,1,...,9,20,18,21,19,16,9,2,21,W
43828,2011,114,1153,Cincinnati,A,58,1207,Georgetown,46,0,...,17,20,13,18,8,13,5,3,18,W
44093,2011,118,1153,Cincinnati,H,59,1163,Connecticut,67,0,...,11,15,8,17,13,15,8,2,14,L
44155,2011,121,1153,Cincinnati,A,67,1266,Marquette,60,0,...,19,26,15,15,9,11,8,2,10,W
44284,2011,124,1153,Cincinnati,H,69,1207,Georgetown,47,0,...,9,14,8,17,8,7,6,2,20,W
44438,2011,128,1153,Cincinnati,N,87,1378,South Florida,61,0,...,16,18,10,15,10,11,7,1,21,W
44494,2011,129,1153,Cincinnati,N,51,1323,Notre Dame,89,0,...,16,21,11,27,22,5,4,6,12,L

In [91]:
results_by_team_df[(results_by_team_df['TeamName'] == 'Cincinnati') ]

,Season,DayNum,TeamID,TeamName,Loc,Score,OppTeamID,OppTeamName,OppScore,NumOT,Result
19,1985,26,1153,Cincinnati,H,50,1184,E Kentucky,48,0,W
418,1985,40,1153,Cincinnati,A,80,1275,Miami OH,77,0,W
562,1985,44,1153,Cincinnati,H,69,1412,UAB,67,0,W
778,1985,53,1153,Cincinnati,N,63,1241,James Madison,56,0,W
1093,1985,65,1153,Cincinnati,H,63,1199,Florida St,62,0,W
...,...,...,...,...,...,...,...,...,...,...,...
172271,2022,40,1153,Cincinnati,A,63,1462,Xavier,83,0,L
172745,2022,61,1153,Cincinnati,H,60,1408,Tulane,68,0,L
173024,2022,69,1153,Cincinnati,A,80,1272,Memphis,87,0,L
173774,2022,85,1153,Cincinnati,A,58,1396,Temple,61,0,L
174424,2022,97,1153,Cincinnati,H,58,1222,Houston,80,0,L

In [37]:
# cincy_results_df[cincy_results_df.WTeamName != 'Cincinnati'].groupby(['WTeamName']).count().reset_index()[['WTeamName','WTeamID']].sort_values(by = ['WTeamID'],ascending= False).head(10)

         WTeamName  WTeamID
40         Memphis       25
35      Louisville       24
89          Xavier       23
37       Marquette       15
13     Connecticut       12
63  South Carolina       11
21      Florida St       11
76             UAB       10
64   South Florida        9
15          DePaul        9