

### March Madness Exploratory Data Analysis
#### Author: Adam Ruther

In [1]:
import pandas as pd
import numpy as np

In [2]:
base_results_df = pd.read_csv('../data/MDataFiles_Stage1/MRegularSeasonDetailedResults.csv')
teams_df = pd.read_csv('../data/MDataFiles_Stage1/MTeams.csv')

In [3]:
add_home_team_df = base_results_df.merge(teams_df,how = 'left',left_on='WTeamID',right_on='TeamID')
add_away_team_df = add_home_team_df.merge(teams_df,how = 'left',left_on='LTeamID',right_on='TeamID')

In [4]:
add_away_team_df

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LBlk,LPF,TeamID_x,TeamName_x,FirstD1Season_x,LastD1Season_x,TeamID_y,TeamName_y,FirstD1Season_y,LastD1Season_y
0,2003,10,1104,68,1328,62,N,0,27,58,...,2,20,1104,Alabama,1985,2022,1328,Oklahoma,1985,2022
1,2003,10,1272,70,1393,63,N,0,26,62,...,6,16,1272,Memphis,1985,2022,1393,Syracuse,1985,2022
2,2003,11,1266,73,1437,61,N,0,24,58,...,5,23,1266,Marquette,1985,2022,1437,Villanova,1985,2022
3,2003,11,1296,56,1457,50,N,0,18,38,...,3,23,1296,N Illinois,1985,2022,1457,Winthrop,1987,2022
4,2003,11,1400,77,1208,71,N,0,30,61,...,1,14,1400,Texas,1985,2022,1208,Georgia,1985,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100418,2022,98,1400,79,1242,76,H,0,28,67,...,5,21,1400,Texas,1985,2022,1242,Kansas,1985,2022
100419,2022,98,1411,66,1126,63,A,0,24,59,...,2,23,1411,TX Southern,1985,2022,1126,Bethune-Cookman,1985,2022
100420,2022,98,1422,68,1441,49,A,0,23,56,...,2,12,1422,UNC Greensboro,1992,2022,1441,W Carolina,1985,2022
100421,2022,98,1438,69,1181,68,A,0,31,65,...,9,11,1438,Virginia,1985,2022,1181,Duke,1985,2022
100422,2022,98,1439,74,1338,47,H,0,29,55,...,6,14,1439,Virginia Tech,1985,2022,1338,Pittsburgh,1985,2022

In [5]:
add_away_team_df.columns

Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
       'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF',
       'TeamID_x', 'TeamName_x', 'FirstD1Season_x', 'LastD1Season_x',
       'TeamID_y', 'TeamName_y', 'FirstD1Season_y', 'LastD1Season_y'],
      dtype='object')

In [6]:
limit_column_names_df = add_away_team_df[['Season','DayNum','WTeamID','TeamName_x','WLoc','WScore','LTeamID','TeamName_y','LScore','NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3','LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF']]
limit_column_names_df.columns = ['Season','DayNum','WTeamID','WTeamName','WLoc','WScore','LTeamID','LTeamName','LScore','NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3','LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF']
clean_results_df = limit_column_names_df

In [7]:
results_by_team_win_df = clean_results_df.copy()
results_by_team_win_df.columns = ['Season','DayNum','TeamID','TeamName','Loc','Score','OppTeamID','OppTeamName','OppScore','NumOT', 'FGM', 'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA', 'OR', 'DR',
       'Ast', 'TO', 'Stl', 'Blk', 'PF', 'OppFGM', 'OppFGA', 'OppFGM3', 'OppFGA3','OppFTM', 'OppFTA', 'OppOR', 'OppDR', 'OppAst', 'OppTO', 'OppStl', 'OppBlk', 'OppPF']
results_by_team_win_df['Result'] = 'W'

In [8]:
def new_loc(row):
    new_loc = ''
    if row['Loc'] == 'H':
        new_loc = 'A'
    elif row['Loc'] == 'A':
        new_loc = 'H'
    else :
        new_loc = 'N'
    return new_loc

def win(row):
    win = 0
    if row['Result'] == 'W':
        win = 1
    elif row['Result'] == 'L':
        win = 0
    else :
        win = 0
    return win

In [9]:
results_by_team_loss_df = clean_results_df.copy()
results_by_team_loss_df = results_by_team_loss_df[['Season','DayNum','LTeamID','LTeamName','WLoc','LScore','WTeamID','WTeamName','WScore','NumOT', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3','LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF' ,'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF']]

In [10]:
results_by_team_loss_df = clean_results_df.copy()
results_by_team_loss_df = results_by_team_loss_df[['Season','DayNum','LTeamID','LTeamName','WLoc','LScore','WTeamID','WTeamName','WScore','NumOT', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3','LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF' ,'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF']]
results_by_team_loss_df.columns = ['Season','DayNum','TeamID','TeamName','Loc','Score','OppTeamID','OppTeamName','OppScore','NumOT', 'FGM', 'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA', 'OR', 'DR',
       'Ast', 'TO', 'Stl', 'Blk', 'PF', 'OppFGM', 'OppFGA', 'OppFGM3', 'OppFGA3','OppFTM', 'OppFTA', 'OppOR', 'OppDR', 'OppAst', 'OppTO', 'OppStl', 'OppBlk', 'OppPF']
results_by_team_loss_df['Result'] = 'L'
results_by_team_loss_df['Loc'] = results_by_team_loss_df.apply(new_loc, axis=1)

In [11]:
results_by_team_df = pd.concat([results_by_team_win_df,results_by_team_loss_df])

In [12]:
results_by_team_df.columns

Index(['Season', 'DayNum', 'TeamID', 'TeamName', 'Loc', 'Score', 'OppTeamID',
       'OppTeamName', 'OppScore', 'NumOT', 'FGM', 'FGA', 'FGM3', 'FGA3', 'FTM',
       'FTA', 'OR', 'DR', 'Ast', 'TO', 'Stl', 'Blk', 'PF', 'OppFGM', 'OppFGA',
       'OppFGM3', 'OppFGA3', 'OppFTM', 'OppFTA', 'OppOR', 'OppDR', 'OppAst',
       'OppTO', 'OppStl', 'OppBlk', 'OppPF', 'Result'],
      dtype='object')

In [13]:
results_by_team_df['Win'] = results_by_team_df.apply(win, axis=1)

In [14]:
results_by_team_df['FGPerc'] = results_by_team_df['FGM'] / results_by_team_df['FGA']
results_by_team_df['3PtFGPerc'] = results_by_team_df['FGM3'] / results_by_team_df['FGA3']
results_by_team_df['OppFGPerc'] = results_by_team_df['OppFGM'] / results_by_team_df['OppFGA']
results_by_team_df['Opp3PtFGPerc'] = results_by_team_df['OppFGM3'] / results_by_team_df['OppFGA3']
results_by_team_df['AsstTORatio'] = results_by_team_df['Ast'] / results_by_team_df['TO']
results_by_team_df['OppAsstTORatio'] = results_by_team_df['OppAst'] / results_by_team_df['OppTO']
results_by_team_df['RebRatio'] = (results_by_team_df['OR'] + results_by_team_df['DR']) / (results_by_team_df['OppOR'] + results_by_team_df['OppDR'])
results_by_team_df['ScoreDiff'] = results_by_team_df['Score'] - results_by_team_df['OppScore']
results_by_team_df['FTPerc'] = results_by_team_df['FTM'] / results_by_team_df['FTA']
results_by_team_df['OppFTPerc'] = results_by_team_df['OppFTM'] / results_by_team_df['OppFTA']
results_by_team_df['TotalReb'] = results_by_team_df['OR'] + results_by_team_df['DR']
results_by_team_df['OppTotalReb'] = results_by_team_df['OppOR'] + results_by_team_df['OppDR']
results_by_team_df['PFRatio'] = results_by_team_df['PF'] / results_by_team_df['OppPF']
results_by_team_df['FTRatio'] = results_by_team_df['FTA'] / results_by_team_df['OppFTA']
results_by_team_df['Game'] = 1

In [15]:
team_season_stats_agg_df = results_by_team_df.groupby(['Season','TeamName']).agg(
    mean_Points=('Score', np.mean),
    std_Points=('Score', np.std),
    median_Points=('Score', np.median),
    mean_FGM=('FGM',np.mean),
    std_FGM=('FGM',np.std),
    median_FGM=('FGM', np.median),
    mean_FGPerc=('FGPerc',np.mean),
    std_FGPerc=('FGPerc',np.std),
    median_FGPerc=('FGPerc',np.median),
    mean_3PtFGPerc=('3PtFGPerc',np.mean),
    std_3PtFGPerc=('3PtFGPerc',np.std),
    median_3PtFGPerc=('3PtFGPerc',np.median),
    mean_OppFGPerc=('OppFGPerc',np.mean),
    std_OppFGPerc=('OppFGPerc',np.std),
    median_OppFGPerc=('OppFGPerc',np.median),        
    mean_Opp3PtFGPerc=('Opp3PtFGPerc',np.mean),
    std_Opp3PtFGPerc=('Opp3PtFGPerc',np.std),
    median_Opp3PtFGPerc=('Opp3PtFGPerc',np.median),
    mean_AsstToRatio=('AsstTORatio',np.mean),
    std_AsstToRatio=('AsstTORatio',np.std),
    median_AsstToRatio=('AsstTORatio',np.median),
    mean_OppAsstToRatio=('OppAsstTORatio',np.mean),
    std_OppAsstToRatio=('OppAsstTORatio',np.std),
    median_OppAsstToRatio=('OppAsstTORatio',np.median),  
    mean_RebRatio=('RebRatio',np.mean),
    std_RebRatio=('RebRatio',np.std),
    median_RebRatio=('RebRatio',np.median),  
    mean_ScoreDiff=('ScoreDiff',np.mean),
    std_ScoreDiff=('ScoreDiff',np.std),
    median_ScoreDiff=('ScoreDiff',np.median), 
    mean_FTPerc=('FTPerc',np.mean),
    std_FTPerc=('FTPerc',np.std),
    median_FTPerc=('FTPerc',np.median),
    mean_OppFTPerc=('OppFTPerc',np.mean),
    std_OppFTPerc=('OppFTPerc',np.std),
    median_OppFTPerc=('OppFTPerc',np.median),
    mean_OR=('OR',np.mean),
    std_OR=('OR',np.std),
    median_OR=('OR',np.median),
    mean_DR=('DR',np.mean),
    std_DR=('DR',np.std),
    median_DR=('DR',np.median),
    mean_TotalReb=('TotalReb',np.mean),
    std_TotalReb=('TotalReb',np.std),
    median_TotalReb=('TotalReb',np.median),
    mean_OppOR=('OppOR',np.mean),
    std_OppOR=('OppOR',np.std),
    median_OppOR=('OppOR',np.median),
    mean_OppDR=('OppDR',np.mean),
    std_OppDR=('OppDR',np.std),
    median_OppDR=('OppDR',np.median),    
    mean_OppTotalReb=('OppTotalReb',np.mean),
    std_OppTotalReb=('OppTotalReb',np.std),
    median_OppTotalReb=('OppTotalReb',np.median),
    mean_PF=('PF',np.mean),
    std_PF=('PF',np.std),
    median_PF=('PF',np.median),
    mean_OppPF=('OppPF',np.mean),
    std_OppPF=('OppPF',np.std),
    median_OppPF=('OppPF',np.median),
    mean_PFRatio=('PFRatio',np.mean),
    std_PFRatio=('PFRatio',np.std),
    median_PFRatio=('PFRatio',np.median),
    mean_Stl=('Stl',np.mean),
    std_Stl=('Stl',np.std),
    median_Stl=('Stl',np.median),
    mean_Blk=('Blk',np.mean),
    std_Blk=('Blk',np.std),
    median_Blk=('Blk',np.median),
    mean_OppStl=('OppStl',np.mean),
    std_OppStl=('OppStl',np.std),
    median_OppStl=('OppStl',np.median),
    mean_OppBlk=('OppBlk',np.mean),
    std_OppBlk=('OppBlk',np.std),
    median_OppBlk=('OppBlk',np.median),
    mean_TO=('TO',np.mean),
    std_TO=('TO',np.std),
    median_TO=('TO',np.median),
    mean_OppTO=('OppTO',np.mean),
    std_OppTO=('OppTO',np.std),
    median_OppTO=('OppTO',np.median),
    mean_Ast=('Ast',np.mean),
    std_Ast=('Ast',np.std),
    median_Ast=('Ast',np.median),
    mean_OppAst=('OppAst',np.mean),
    std_OppAst=('OppAst',np.std),
    median_OppAst=('OppAst',np.median),
    mean_FTA=('FTA',np.mean),
    std_FTA=('FTA',np.std),
    median_FTA=('FTA',np.median),
    mean_OppFTA=('OppFTA',np.mean),
    std_OppFTA=('OppFTA',np.std),
    median_OppFTA=('OppFTA',np.median),
    mean_FTRatio=('FTRatio',np.mean),
    std_FTRatio=('FTRatio',np.std),
    median_FTRatio=('FTRatio',np.median),
    sum_Wins=('Win',np.sum),
    sum_Games=('Game',np.sum),     
    )

In [16]:
team_season_stats_agg_df = team_season_stats_agg_df.reset_index()
team_season_stats_agg_df['WinPerc'] = team_season_stats_agg_df['sum_Wins'] / team_season_stats_agg_df['sum_Games']
team_season_stats_agg_df

,Season,TeamName,mean_Points,std_Points,median_Points,mean_FGM,std_FGM,median_FGM,mean_FGPerc,std_FGPerc,...,median_FTA,mean_OppFTA,std_OppFTA,median_OppFTA,mean_FTRatio,std_FTRatio,median_FTRatio,sum_Wins,sum_Games,WinPerc
0,2003,Air Force,57.250000,13.892777,56.5,19.142857,4.402981,19.0,0.486149,0.112837,...,17.0,19.250000,7.376765,20.0,1.092993,0.872801,0.804762,12,28,0.428571
1,2003,Akron,78.777778,15.272734,79.0,27.148148,5.074095,28.0,0.487294,0.076162,...,25.0,22.148148,10.128800,20.0,1.299865,0.639136,1.088235,13,27,0.481481
2,2003,Alabama,69.285714,11.375273,69.0,24.035714,4.977595,24.0,0.419676,0.074775,...,20.0,17.142857,6.703864,16.5,1.428951,0.802147,1.145863,17,28,0.607143
3,2003,Alabama A&M,71.769231,13.051614,71.5,24.384615,4.725056,25.0,0.396204,0.065716,...,21.5,24.500000,8.006248,27.0,0.961848,0.501171,0.773810,7,26,0.269231
4,2003,Alabama St,63.607143,11.402856,60.5,23.428571,4.434115,22.5,0.425530,0.074822,...,16.5,21.964286,6.680442,21.5,0.784561,0.410174,0.823846,13,28,0.464286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6887,2022,Wright St,75.478261,11.892968,75.0,27.652174,5.166401,27.0,0.475643,0.086746,...,18.0,15.130435,6.166658,16.0,1.550489,1.469569,1.090909,13,23,0.565217
6888,2022,Wyoming,74.619048,8.873986,77.0,25.714286,3.273268,25.0,0.478369,0.061236,...,21.0,14.142857,5.561346,14.0,1.875290,1.174930,1.400000,18,21,0.857143
6889,2022,Xavier,73.181818,10.639712,72.0,25.636364,3.606152,25.5,0.445620,0.056643,...,20.0,12.363636,4.146662,12.0,1.819988,0.751706,1.797980,16,22,0.727273
6890,2022,Yale,72.100000,13.281962,71.5,25.200000,4.595192,24.5,0.431106,0.072722,...,18.5,21.200000,8.030206,21.0,1.096365,0.645525,0.932222,11,20,0.550000
6891,2022,Youngstown St,70.681818,11.961790,68.5,24.954545,4.893896,24.5,0.439559,0.078990,...,17.0,16.727273,8.597795,14.5,1.195909,0.686852,1.094156,12,22,0.545455

In [20]:
team_season_stats_agg_df[(team_season_stats_agg_df['TeamName'] == 'Cincinnati')]

,Season,TeamName,mean_Points,std_Points,median_Points,mean_FGM,std_FGM,median_FGM,mean_FGPerc,std_FGPerc,...,median_FTA,mean_OppFTA,std_OppFTA,median_OppFTA,mean_FTRatio,std_FTRatio,median_FTRatio,sum_Wins,sum_Games,WinPerc
47,2003,Cincinnati,67.321429,13.455148,65.5,22.892857,4.297625,23.0,0.405768,0.073880,...,20.5,19.714286,8.100558,20.0,1.223068,0.549746,1.183333,17,28,0.607143
374,2004,Cincinnati,76.900000,11.024581,79.5,27.033333,4.544670,27.0,0.457112,0.053776,...,23.0,22.666667,6.567072,22.5,1.077933,0.362720,1.094758,24,30,0.800000
700,2005,Cincinnati,76.419355,11.274674,77.0,25.548387,4.965472,25.0,0.441628,0.071992,...,29.0,17.903226,5.521804,19.0,1.655796,0.729917,1.500000,24,31,0.774194
1030,2006,Cincinnati,74.066667,12.654380,73.5,26.633333,5.142677,26.0,0.425335,0.068987,...,18.0,17.900000,6.859929,16.0,1.237218,0.628856,1.129121,18,30,0.600000
1364,2007,Cincinnati,64.566667,12.181624,65.0,23.500000,4.614445,23.0,0.407107,0.065607,...,16.5,19.466667,7.509687,18.0,1.054789,0.714166,0.900794,11,30,0.366667
1701,2008,Cincinnati,64.516129,8.835048,64.0,22.935484,3.604955,22.0,0.413581,0.054520,...,16.0,23.838710,9.609359,24.0,0.915050,0.598019,0.750000,13,31,0.419355
2044,2009,Cincinnati,68.343750,11.627579,68.0,24.750000,4.586094,25.0,0.425692,0.075493,...,17.5,19.375000,7.648529,19.0,1.276805,1.501040,0.788462,18,32,0.562500
2391,2010,Cincinnati,68.666667,12.393715,69.0,25.606061,5.183745,25.0,0.433176,0.074959,...,18.0,20.060606,8.050386,19.0,1.343603,1.770570,0.941176,18,33,0.545455
2738,2011,Cincinnati,68.969697,12.916764,67.0,24.151515,5.000758,22.0,0.436064,0.072092,...,23.0,17.878788,7.034547,16.0,1.449003,0.850054,1.375000,25,33,0.757576
3082,2012,Cincinnati,68.500000,13.863512,70.5,25.058824,5.140105,25.5,0.421832,0.078409,...,18.0,14.294118,4.883674,14.5,1.426040,1.093964,1.104167,24,34,0.705882
3427,2013,Cincinnati,66.636364,14.817258,65.0,23.151515,6.335028,21.0,0.400176,0.074809,...,21.0,17.606061,6.990795,18.0,1.393322,0.904654,1.190476,22,33,0.666667
3775,2014,Cincinnati,68.727273,14.169229,69.0,23.757576,6.179757,23.0,0.424882,0.077389,...,21.0,18.181818,6.085097,18.0,1.330527,0.647128,1.176471,27,33,0.818182
4126,2015,Cincinnati,62.375000,10.379104,60.5,22.375000,3.816349,21.5,0.456553,0.078967,...,18.5,13.343750,5.000706,13.0,1.823334,1.810574,1.593407,22,32,0.687500
4477,2016,Cincinnati,73.187500,14.407519,69.5,25.718750,5.635340,25.0,0.426087,0.070334,...,18.5,15.562500,6.257576,16.5,1.551793,1.022972,1.317308,22,32,0.687500
4828,2017,Cincinnati,74.470588,15.630652,72.5,26.941176,6.687579,27.5,0.452196,0.091192,...,18.5,16.176471,5.334113,14.5,1.297502,0.786716,1.183333,29,34,0.852941
5179,2018,Cincinnati,74.470588,12.577602,76.0,26.264706,5.189201,26.0,0.451868,0.052807,...,20.0,15.000000,6.343692,15.5,2.041389,2.448804,1.406593,30,34,0.882353
5531,2019,Cincinnati,71.705882,11.421748,71.0,24.823529,5.362443,23.5,0.432239,0.077795,...,20.5,16.294118,7.051883,16.5,1.649857,1.109699,1.309829,28,34,0.823529
5884,2020,Cincinnati,72.733333,10.448340,71.0,25.433333,4.304635,26.0,0.447803,0.072996,...,22.0,17.400000,7.093465,17.0,1.470826,0.798580,1.354167,20,30,0.666667
6236,2021,Cincinnati,68.913043,8.933660,69.0,24.608696,3.786809,25.0,0.424062,0.062826,...,18.0,21.391304,7.152489,23.0,1.020995,0.466123,1.000000,12,23,0.521739
6585,2022,Cincinnati,70.190476,10.171623,71.0,25.238095,3.753728,25.0,0.410575,0.052866,...,18.0,19.285714,7.530889,19.0,1.033369,0.527093,0.952381,14,21,0.666667

In [44]:
tourney_results_df = pd.read_csv('../data/MDataFiles_Stage1/MNCAATourneyDetailedResults.csv')

In [45]:
tourney_results_df

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,134,1421,92,1411,84,N,1,32,69,...,31,14,31,17,28,16,15,5,0,22
1,2003,136,1112,80,1436,51,N,0,31,66,...,16,7,7,8,26,12,17,10,3,15
2,2003,136,1113,84,1272,71,N,0,31,59,...,28,14,21,20,22,11,12,2,5,18
3,2003,136,1141,79,1166,73,N,0,29,53,...,17,12,17,14,17,20,21,6,6,21
4,2003,136,1143,76,1301,74,N,1,27,64,...,21,15,20,10,26,16,14,5,8,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1176,2021,148,1211,85,1425,66,N,0,33,66,...,15,14,19,7,20,9,9,7,0,13
1177,2021,148,1417,51,1276,49,N,0,21,54,...,11,6,11,8,24,12,14,5,3,11
1178,2021,152,1124,78,1222,59,N,0,29,55,...,19,11,16,13,12,10,10,4,5,10
1179,2021,152,1211,93,1417,90,N,1,37,63,...,17,14,21,7,24,21,9,4,1,16
1180,2021,154,1124,86,1211,70,N,0,30,67,...,17,15,21,1,16,16,14,4,3,17

In [46]:
add_home_team_tourney_df = tourney_results_df.merge(teams_df,how = 'left',left_on='WTeamID',right_on='TeamID')
add_away_team_tourney_df = add_home_team_tourney_df.merge(teams_df,how = 'left',left_on='LTeamID',right_on='TeamID')

In [47]:
limit_column_names_tourney_df = add_away_team_tourney_df[['Season','DayNum','WTeamID','TeamName_x','WLoc','WScore','LTeamID','TeamName_y','LScore','NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3','LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF']]
limit_column_names_tourney_df.columns = ['Season','DayNum','WTeamID','WTeamName','WLoc','WScore','LTeamID','LTeamName','LScore','NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3','LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF']
clean_results_tourney_df = limit_column_names_tourney_df

In [48]:
clean_results_tourney_df

,Season,DayNum,WTeamID,WTeamName,WLoc,WScore,LTeamID,LTeamName,LScore,NumOT,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,134,1421,UNC Asheville,N,92,1411,TX Southern,84,1,...,31,14,31,17,28,16,15,5,0,22
1,2003,136,1112,Arizona,N,80,1436,Vermont,51,0,...,16,7,7,8,26,12,17,10,3,15
2,2003,136,1113,Arizona St,N,84,1272,Memphis,71,0,...,28,14,21,20,22,11,12,2,5,18
3,2003,136,1141,C Michigan,N,79,1166,Creighton,73,0,...,17,12,17,14,17,20,21,6,6,21
4,2003,136,1143,California,N,76,1301,NC State,74,1,...,21,15,20,10,26,16,14,5,8,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1176,2021,148,1211,Gonzaga,N,85,1425,USC,66,0,...,15,14,19,7,20,9,9,7,0,13
1177,2021,148,1417,UCLA,N,51,1276,Michigan,49,0,...,11,6,11,8,24,12,14,5,3,11
1178,2021,152,1124,Baylor,N,78,1222,Houston,59,0,...,19,11,16,13,12,10,10,4,5,10
1179,2021,152,1211,Gonzaga,N,93,1417,UCLA,90,1,...,17,14,21,7,24,21,9,4,1,16
1180,2021,154,1124,Baylor,N,86,1211,Gonzaga,70,0,...,17,15,21,1,16,16,14,4,3,17

In [49]:
tourney_results_by_team_win_df = clean_results_tourney_df.copy()
tourney_results_by_team_win_df.columns = ['Season','DayNum','TeamID','TeamName','Loc','Score','OppTeamID','OppTeamName','OppScore','NumOT', 'FGM', 'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA', 'OR', 'DR',
       'Ast', 'TO', 'Stl', 'Blk', 'PF', 'OppFGM', 'OppFGA', 'OppFGM3', 'OppFGA3','OppFTM', 'OppFTA', 'OppOR', 'OppDR', 'OppAst', 'OppTO', 'OppStl', 'OppBlk', 'OppPF']
tourney_results_by_team_win_df['Result'] = 'W'

In [50]:
tourney_results_by_team_loss_df = clean_results_tourney_df.copy()
tourney_results_by_team_loss_df = tourney_results_by_team_loss_df[['Season','DayNum','LTeamID','LTeamName','WLoc','LScore','WTeamID','WTeamName','WScore','NumOT', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3','LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF' ,'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF']]
tourney_results_by_team_loss_df.columns = ['Season','DayNum','TeamID','TeamName','Loc','Score','OppTeamID','OppTeamName','OppScore','NumOT', 'FGM', 'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA', 'OR', 'DR',
       'Ast', 'TO', 'Stl', 'Blk', 'PF', 'OppFGM', 'OppFGA', 'OppFGM3', 'OppFGA3','OppFTM', 'OppFTA', 'OppOR', 'OppDR', 'OppAst', 'OppTO', 'OppStl', 'OppBlk', 'OppPF']
tourney_results_by_team_loss_df['Result'] = 'L'
tourney_results_by_team_loss_df['Loc'] = tourney_results_by_team_loss_df.apply(new_loc, axis=1)

In [51]:
tourney_results_by_team_df = pd.concat([tourney_results_by_team_win_df,tourney_results_by_team_loss_df])

In [52]:
tourney_results_by_team_df

,Season,DayNum,TeamID,TeamName,Loc,Score,OppTeamID,OppTeamName,OppScore,NumOT,...,OppFTM,OppFTA,OppOR,OppDR,OppAst,OppTO,OppStl,OppBlk,OppPF,Result
0,2003,134,1421,UNC Asheville,N,92,1411,TX Southern,84,1,...,14,31,17,28,16,15,5,0,22,W
1,2003,136,1112,Arizona,N,80,1436,Vermont,51,0,...,7,7,8,26,12,17,10,3,15,W
2,2003,136,1113,Arizona St,N,84,1272,Memphis,71,0,...,14,21,20,22,11,12,2,5,18,W
3,2003,136,1141,C Michigan,N,79,1166,Creighton,73,0,...,12,17,14,17,20,21,6,6,21,W
4,2003,136,1143,California,N,76,1301,NC State,74,1,...,15,20,10,26,16,14,5,8,19,W
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1176,2021,148,1425,USC,N,66,1211,Gonzaga,85,0,...,12,17,11,27,21,9,6,3,16,L
1177,2021,148,1276,Michigan,N,49,1417,UCLA,51,0,...,6,7,6,21,12,8,5,2,14,L
1178,2021,152,1222,Houston,N,59,1124,Baylor,78,0,...,9,13,11,17,23,8,6,0,18,L
1179,2021,152,1417,UCLA,N,90,1211,Gonzaga,93,1,...,12,20,4,19,25,10,8,3,16,L
1180,2021,154,1211,Gonzaga,N,70,1124,Baylor,86,0,...,16,18,14,20,18,7,8,5,19,L

In [53]:
tourney_results_by_team_df[(tourney_results_by_team_df['TeamName'] == 'Cincinnati')].sort_values(by = ['Season','DayNum'])

,Season,DayNum,TeamID,TeamName,Loc,Score,OppTeamID,OppTeamName,OppScore,NumOT,...,OppFTM,OppFTA,OppOR,OppDR,OppAst,OppTO,OppStl,OppBlk,OppPF,Result
7,2003,136,1153,Cincinnati,N,69,1211,Gonzaga,74,0,...,28,37,8,28,12,12,2,2,15,L
82,2004,137,1153,Cincinnati,N,80,1190,ETSU,77,0,...,13,20,17,21,14,6,11,3,14,W
106,2004,139,1153,Cincinnati,N,68,1228,Illinois,92,0,...,11,14,2,19,26,4,9,1,14,L
131,2005,136,1153,Cincinnati,N,76,1234,Iowa,64,0,...,19,25,16,27,5,11,6,1,20,W
163,2005,138,1153,Cincinnati,N,60,1246,Kentucky,69,0,...,12,18,7,29,16,15,7,5,17,L
518,2011,136,1153,Cincinnati,N,78,1281,Missouri,63,0,...,9,13,15,16,15,9,7,3,18,W
550,2011,138,1153,Cincinnati,N,58,1163,Connecticut,69,0,...,25,30,9,26,10,9,3,3,13,L
599,2012,137,1153,Cincinnati,N,65,1400,Texas,59,0,...,12,14,10,24,11,11,6,5,15,W
623,2012,139,1153,Cincinnati,N,62,1199,Florida St,56,0,...,12,15,10,21,11,17,5,8,20,W
633,2012,143,1153,Cincinnati,N,66,1326,Ohio St,81,0,...,19,27,12,23,14,11,13,1,11,L
666,2013,137,1153,Cincinnati,N,63,1166,Creighton,67,0,...,22,25,7,25,16,16,2,2,11,L
720,2014,136,1153,Cincinnati,N,57,1217,Harvard,61,0,...,17,28,9,24,9,12,4,3,15,L
787,2015,136,1153,Cincinnati,N,66,1345,Purdue,65,1,...,9,15,21,30,13,12,5,1,18,W
817,2015,138,1153,Cincinnati,N,51,1246,Kentucky,64,0,...,20,28,12,26,10,7,7,9,15,L
876,2016,137,1153,Cincinnati,N,76,1386,St Joseph's PA,78,0,...,13,17,10,19,13,6,4,4,18,L
936,2017,137,1153,Cincinnati,N,75,1243,Kansas St,61,0,...,12,15,9,14,10,7,7,2,19,W
965,2017,139,1153,Cincinnati,N,67,1417,UCLA,79,0,...,6,10,7,23,21,3,5,5,10,L
1003,2018,137,1153,Cincinnati,N,68,1209,Georgia St,53,0,...,3,3,6,20,3,9,6,5,15,W
1028,2018,139,1153,Cincinnati,N,73,1305,Nevada,75,0,...,9,16,8,25,13,2,5,0,15,L
1071,2019,137,1153,Cincinnati,N,72,1234,Iowa,79,0,...,10,16,7,26,15,14,1,1,15,L

In [54]:
clean_results_tourney_df

,Season,DayNum,WTeamID,WTeamName,WLoc,WScore,LTeamID,LTeamName,LScore,NumOT,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,134,1421,UNC Asheville,N,92,1411,TX Southern,84,1,...,31,14,31,17,28,16,15,5,0,22
1,2003,136,1112,Arizona,N,80,1436,Vermont,51,0,...,16,7,7,8,26,12,17,10,3,15
2,2003,136,1113,Arizona St,N,84,1272,Memphis,71,0,...,28,14,21,20,22,11,12,2,5,18
3,2003,136,1141,C Michigan,N,79,1166,Creighton,73,0,...,17,12,17,14,17,20,21,6,6,21
4,2003,136,1143,California,N,76,1301,NC State,74,1,...,21,15,20,10,26,16,14,5,8,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1176,2021,148,1211,Gonzaga,N,85,1425,USC,66,0,...,15,14,19,7,20,9,9,7,0,13
1177,2021,148,1417,UCLA,N,51,1276,Michigan,49,0,...,11,6,11,8,24,12,14,5,3,11
1178,2021,152,1124,Baylor,N,78,1222,Houston,59,0,...,19,11,16,13,12,10,10,4,5,10
1179,2021,152,1211,Gonzaga,N,93,1417,UCLA,90,1,...,17,14,21,7,24,21,9,4,1,16
1180,2021,154,1124,Baylor,N,86,1211,Gonzaga,70,0,...,17,15,21,1,16,16,14,4,3,17

In [55]:
tourney_seeds_df = pd.read_csv('../data/MDataFiles_Stage1/MNCAATourneySeeds.csv')

In [57]:
tourney_seeds_df[tourney_seeds_df['Season'] == 1985]

    Season Seed  TeamID
0     1985  W01    1207
1     1985  W02    1210
2     1985  W03    1228
3     1985  W04    1260
4     1985  W05    1374
..     ...  ...     ...
59    1985  Z12    1275
60    1985  Z13    1298
61    1985  Z14    1325
62    1985  Z15    1292
63    1985  Z16    1192

[64 rows x 3 columns]

In [59]:
tourney_seedroundslots_df = pd.read_csv('../data/MDataFiles_Stage1/MNCAATourneySeedRoundSlots.csv')

In [60]:
tourney_seedroundslots_df

     Seed  GameRound GameSlot  EarlyDayNum  LateDayNum
0     W01          1     R1W1          136         137
1     W01          2     R2W1          138         139
2     W01          3     R3W1          143         144
3     W01          4     R4W1          145         146
4     W01          5     R5WX          152         152
..    ...        ...      ...          ...         ...
715  Z16b          2     R2Z1          138         139
716  Z16b          3     R3Z1          143         144
717  Z16b          4     R4Z1          145         146
718  Z16b          5     R5YZ          152         152
719  Z16b          6     R6CH          154         154

[720 rows x 5 columns]

In [61]:
tourney_slots_df = pd.read_csv('../data/MDataFiles_Stage1/MNCAATourneySlots.csv')

In [62]:
tourney_slots_df

      Season  Slot StrongSeed WeakSeed
0       1985  R1W1        W01      W16
1       1985  R1W2        W02      W15
2       1985  R1W3        W03      W14
3       1985  R1W4        W04      W13
4       1985  R1W5        W05      W12
...      ...   ...        ...      ...
2313    2021  R6CH       R5WX     R5YZ
2314    2021   W11       W11a     W11b
2315    2021   W16       W16a     W16b
2316    2021   X11       X11a     X11b
2317    2021   X16       X16a     X16b

[2318 rows x 4 columns]

In [75]:
add_strongseed_teamid_df = tourney_slots_df.merge(tourney_seeds_df,left_on = ['Season','StrongSeed'],right_on = ['Season','Seed'])
add_weakseed_teamid_df = add_strongseed_teamid_df.merge(tourney_seeds_df,left_on = ['Season','WeakSeed'],right_on = ['Season','Seed'])
add_weakseed_teamid_df.columns = ['Season', 'Slot', 'StrongSeed', 'WeakSeed', 'Seed_x', 'StrongSeed_TeamID','Seed_y', 'WeakSeed_TeamID']

In [76]:
add_weakseed_teamid_df = add_weakseed_teamid_df[['Season', 'Slot', 'StrongSeed', 'WeakSeed', 'StrongSeed_TeamID','WeakSeed_TeamID']]

In [77]:
add_weakseed_teamid_df

      Season  Slot StrongSeed WeakSeed  StrongSeed_TeamID  WeakSeed_TeamID
0       1985  R1W1        W01      W16               1207             1250
1       1985  R1W2        W02      W15               1210             1273
2       1985  R1W3        W03      W14               1228             1318
3       1985  R1W4        W04      W13               1260             1233
4       1985  R1W5        W05      W12               1374             1330
...      ...   ...        ...      ...                ...              ...
1147    2021  R1Z8        Z08      Z09               1314             1458
1148    2021   W11       W11a     W11b               1277             1417
1149    2021   W16       W16a     W16b               1291             1411
1150    2021   X11       X11a     X11b               1179             1455
1151    2021   X16       X16a     X16b               1111             1313

[1152 rows x 6 columns]

In [66]:
MNCAATourneyCompactResults_df = pd.read_csv('../data/MDataFiles_Stage1/MNCAATourneyCompactResults.csv')

In [67]:
MNCAATourneyCompactResults_df

      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0       1985     136     1116      63     1234      54    N      0
1       1985     136     1120      59     1345      58    N      0
2       1985     136     1207      68     1250      43    N      0
3       1985     136     1229      58     1425      55    N      0
4       1985     136     1242      49     1325      38    N      0
...      ...     ...      ...     ...      ...     ...  ...    ...
2312    2021     148     1211      85     1425      66    N      0
2313    2021     148     1417      51     1276      49    N      0
2314    2021     152     1124      78     1222      59    N      0
2315    2021     152     1211      93     1417      90    N      1
2316    2021     154     1124      86     1211      70    N      0

[2317 rows x 8 columns]